<% include ../../ThemeModule/Views/elements/header.ejs  %>
    <div class="qa-main">
        <h1><%= title %></h1>
    </div>
<% include ../../ThemeModule/Views/elements/sidepanel.ejs  %>    
<% include ../../ThemeModule/Views/elements/footer.ejs  %>