            </div> <!-- qa-main-wrapper -->
        </div> <!-- qa-body-wrapper -->
        <div class="qam-footer-box">
			<div class="qam-footer-row"></div> <!-- END qam-footer-row -->
			<div class="qa-footer">
				<div class="qa-attribution">
					Powered by <a target="_blank" href="http://www.officebeacon.com">Office Brain</a>
				</div>
				<div class="qa-footer-clear"></div>
			</div> <!-- END qa-footer -->
		</div>
    </body>
</html>