<div id="qam-sidepanel-toggle" class=""><i class="icon-left-open-big"></i></div>
<div id="qam-sidepanel-mobile" class="qa-sidepanel">
	<div class="qam-search turquoise ">
		<div class="qa-search">
			<form action="./search" method="get">
				<input type="text" class="qa-search-field" value="" name="q">
				<input type="submit" class="qa-search-button" value="Search">
			</form>
		</div>
	</div>
	<div class="qa-sidebar wet-asphalt">
		<div style="font-size:13px;">
			Welcome to the Q&amp;A site for <a href="/">Question2Answer</a>.
			<br><br>
			If you have a question about Q2A, please <a href="/ask">ask in English</a>.
		</div>
	</div>			
	<div class="qa-nav-cat">
		<ul class="qa-nav-cat-list qa-nav-cat-list-1">
			<li class="qa-nav-cat-item qa-nav-cat-all">
				<a class="qa-nav-cat-link qa-nav-cat-selected" href="/questions">All categories</a>
			</li>
			<li class="qa-nav-cat-item qa-nav-cat-core">
				<a title="Questions about the Question2Answer platform." class="qa-nav-cat-link" href="./core">Q2A Core</a>
				<span class="qa-nav-cat-note">(8,961)</span>
			</li>
			<li class="qa-nav-cat-item qa-nav-cat-plugins">
				<a title="Questions about plugins created for Q2A." class="qa-nav-cat-link" href="./plugins">Plugins</a>
				<span class="qa-nav-cat-note">(2,549)</span>
			</li>
			<li class="qa-nav-cat-item qa-nav-cat-themes">
				<a title="Questions about third-party themes." class="qa-nav-cat-link" href="./themes">Themes</a>
				<span class="qa-nav-cat-note">(479)</span>
			</li>
		</ul>
		<div class="qa-nav-cat-clear"></div>
	</div>
	<div class="qa-widgets-side qa-widgets-side-low">
		<div class="qa-widget-side qa-widget-side-low">
			<h2 style="margin-top: 0; padding-top: 0;">Most popular tags</h2>
			<div style="font-size: 10px;">
				<a style="font-size: 24px; vertical-align: baseline;" href="./tag/plugin">plugin</a>
				<a style="font-size: 9px; vertical-align: baseline;" href="./tag/error">error</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/bug">bug</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/theme">theme</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/user">user</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/login">login</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/users">users</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/database">database</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/question">question</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/q2a">q2a</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/facebook">facebook</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/questions">questions</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/plugins">plugins</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/wordpress">wordpress</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/tags">tags</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/admin">admin</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/category">category</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/email">email</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/url">url</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/categories">categories</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/editor">editor</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/php">php</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/seo">seo</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/search">search</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/wysiwyg-editor">wysiwyg-editor</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/ckeditor">ckeditor</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/page">page</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/custom">custom</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/css">css</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/email-notifications">email-notifications</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/answer">answer</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/feature-request">feature-request</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/points">points</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/development">development</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/core">core</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/spam">spam</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/integration">integration</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/widget">widget</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/html">html</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/language">language</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/avatar">avatar</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/google">google</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/themes">themes</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/profile">profile</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/mysql">mysql</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/installation">installation</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/answers">answers</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/htaccess">htaccess</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/sidebar">sidebar</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/tag">tag</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/hide">hide</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/question2answer">question2answer</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/image">image</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/permissions">permissions</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/button">button</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/advanced-theme">advanced-theme</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/customization">customization</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/wysiwyg">wysiwyg</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/homepage">homepage</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/username">username</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/link">link</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/edit">edit</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/registration">registration</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/q2apro-plugins">q2apro-plugins</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/redirect">redirect</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/moderation">moderation</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/title">title</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/snowflat">snowflat</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/badges">badges</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/ask">ask</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/custom-page">custom-page</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/adsense">adsense</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/list">list</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/single-sign-on">single-sign-on</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/facebook-plugin">facebook-plugin</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/voting">voting</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/upload">upload</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/post">post</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/user-profile">user-profile</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/javascript">javascript</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/comments">comments</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/features">features</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/navigation">navigation</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/best-answer">best-answer</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/images">images</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/mobile">mobile</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/remove">remove</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/rss">rss</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/meta">meta</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/upgrade">upgrade</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/update">update</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/url-structure">url-structure</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/sitemap">sitemap</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/code">code</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/links">links</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/security">security</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/markdown">markdown</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/notification">notification</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/responsive">responsive</a>
				<a style="font-size: 8px; vertical-align: baseline;" href="./tag/q2a-open-login">q2a-open-login</a>
			</div>
		</div>
		<div class="qa-widget-side qa-widget-side-low">
			<div class="qa-activity-count">
				<p class="qa-activity-count-item">
					<span class="qa-activity-count-data">11,989</span> questions
				</p>
				<p class="qa-activity-count-item">
					<span class="qa-activity-count-data">12,276</span> answers
				</p>
				<p class="qa-activity-count-item">
					<span class="qa-activity-count-data">23,774</span> comments
				</p>
				<p class="qa-activity-count-item">
					<span class="qa-activity-count-data">12,840</span> users
				</p>
			</div>
		</div>
	</div>
</div>